header{
    width: 100%;
    margin: auto;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}
header svg{
    width: 5%;
    position: fixed;
    top: 2%;
    right: 2%;
    display: block;
    cursor: pointer;
    z-index: 11;
}
header .st0{
    fill:none;
    stroke:#333;
    stroke-width:5;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}
.title .lnb{
    width: 50%;
    display: none;
    margin-top: 80%;
}
.lnb li{
    width: 33.3%;
}
.lnb li:nth-child(2){
    display: none;
}
.lnb a{
    font: 400 2.5em/3em 'Roboto', 'Noto Sans KR', sans-serif;
}
.lnb li:hover a{
    font-weight: bolder;
}
.title .cart{
    position: absolute;
    right: 10%;
    top: 43%;
    transform: translateY(-50%);
    width: 5%;
    z-index: 11;
}
.title .search{
    position: absolute;
    top: 20%;
    right: 18%;
    width: 5%;
    height: 45%;
}
.title #search{
    display: none;
}
.search .s_btn{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: fixed;
    bottom: 0;
    left:  0;
    padding-bottom: 3px;
    visibility: hidden;
}
nav .nav-bg{
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color:#fff;
    z-index: 10;
}
nav .gnb ul{
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 15%;
    right: 0;
    z-index: 11;
}
nav .gnb li{
    width: 100%;
    text-transform: uppercase;
    font: bold 2.5em/4em 'Roboto', 'Noto Sans KR', sans-serif;
    position: relative;
    z-index: 11;
}
.gnb li a{
    display: block;
    z-index: 15;
}
nav .gnb li::before,
nav .gnb li:hover::before{
    display: none;
}
nav .gnb li:hover a{
    font-size: 1.3em;
    transition: all .3s ease-in-out;
}
nav .sub{display: none;}




.slide_wrap::before{
    content: '';
    display: block;
    margin-top: 15%;
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
  }
.slide .txt{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.txt p:nth-child(1){
    font: 400 3.5em/1.2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.txt p:nth-child(2){
    font: 100 2.5em/1.2em 'Roboto', 'Noto Sans KR', sans-serif;
}


.contents .row1{
    width: 100%;
    margin: 20px auto;
}
.row1 ul{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.row1 li{
    width: 45%;
    position: relative;
    margin-top: 5%;
}
.contents .row2{
    display: none;
}
.contents .sub_title{
    font: 400 2.5em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
    color: #ccc;
}
.contents .title{
    font: 400 3em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.contents .price{
    font: 400 3em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.row1 .badge{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    font: 400 3em/3.5em 'Roboto', 'Noto Sans KR', sans-serif;
    text-align: center;
    text-transform: uppercase;
}



main .event{
    margin-bottom: 50%;
    margin-top: 5%;
    position: relative;
}
.event li{
    width: 100%;
    position: absolute;
}
.event img{
    width: 100%;
}
.event .text{
    width: 50%;
    position: absolute;
    top: 10%;
    left: 5%;
}
.event .sub_title{
    font: 400 3em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
    color: #888;
}
.event .title{
    font: 400 3.5em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.event p:nth-child(3){
    margin-top: 10%;
    font: 400 2.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}

main .aside{
    width: 100%;
}
.aside p:nth-child(1){
    padding-left: 5%;
    font: 400 5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.aside ul{
    width: 100%;
    flex-wrap: wrap;
    margin-top: 3%;
}
.aside li{
    width: 100%;
    margin-bottom: 3%;
}
.aside li:last-child{
    margin-bottom: 0%;
}
.aside li p:first-child{
    font: 100 3.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;    
}
.aside li:first-child{
    margin-right: 0;
}
.aside iframe{
    height: 200px;
}
.aside a{
    width: 98%;
    font: 100 3.5em/3em 'Roboto', 'Noto Sans KR', sans-serif;    
}


footer{
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 5%;
}
footer .community{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
.community .cs{
    width: 100%;
}
.cs p:nth-child(1){
    font: 400 4em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.cs p:nth-child(2),
.cs p:nth-child(3){
    float: left;
    font: 400 5em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
    margin-right: 25%;
}
.cs p:nth-child(4){
    clear: both;
    font: 100 3em/2em 'Roboto', 'Noto Sans KR', sans-serif;
    margin-bottom: 5%;
}
.cs p:nth-child(4) span{
    display: block;
    width: 20%;
}
.cs p:nth-child(4) span:nth-child(3){
    margin-left: 12%;
}

.community .noti{
    display: none;
}

.community .benefit{
    width: 100%;
}
.benefit li{
    width: 25%;
    margin-bottom: 5%;
    text-align: center;
}

.support ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.support li:not(li:last-child)::before{
    content: '';
    position: absolute;
    top: 0px;
    right: -7px;
    width: 1px;
    height: 15px;
    background-color: #eee;
}
.support li:nth-child(1){
    width: 20%;
}
.support li:nth-child(2),
.support li:nth-child(3),
.support li:nth-child(5){
    width: 15%;
}
.support li:nth-child(4){
    width: 25%;
}

.info ul{
    width: 100%;
    margin-top: 3%;
}
.info li{
    color: #eee;
    font: 100 0.1em 'Roboto', 'Noto Sans KR', sans-serif;        
}
.info a{
    color: #eee;
    font-weight: 400;
    margin-left: 5px;
}
.info span{
    margin-right: 1%;
}
.component .copy{
    width: 100%;
    margin: auto;
    font: 100 1.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
    margin-top: 3%;
    color: #eee;
}