html{font-size: .8vw;}

header{
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.m_nav .logo{
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}


.slide{
    width: 100%;
    height: 120px;
    margin-top:50px;
}
.swiper-wrapper .swiper-slide{
    width: 100%;
    position: relative;
}
.swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    color: initial;
}
.swiper-wrapper a img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 60% 50%;
    margin: auto;
    margin-right: 0%;
    display: block;
}
.swiper-wrapper .txt{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.txt p:nth-child(1){
    font: 800 1.5rem/2.5rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.txt p:nth-child(2){
    font: 100 1.5rem/3rem 'Roboto', 'Noto Sans KR', sans-serif;
}
