.lnb a{
    font: 400 .9rem/2.5rem 'Roboto', 'Noto Sans KR', sans-serif;
}
nav li{
    font: bold 1rem/3rem 'Roboto', 'Noto Sans KR', sans-serif;
    position: relative;
}
nav .nav_right{
    position: absolute;
    top: -60px;
    right: 0;
    width: 300px;
    height: 40px;
}
.sub dt,
.sub dd{
    text-align: left;
    width: 70%;
    padding-left: 0%;
}


.slide .swiper-wrapper a img{
    width: 100%;
    margin: auto;
    margin-right: 0;
    display: block;
}
.slide .swiper-wrapper .txt{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.slide .txt p:nth-child(1){
    font: 800 1.5rem/2rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.slide .txt p:nth-child(2){
    font: 100 1.5rem/3rem 'Roboto', 'Noto Sans KR', sans-serif;
}

/* 메인페이지 이벤트 */
.event_slide .swiper-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.event_slide .swiper-slide{
    width: 50%;
}
.event_slide .swiper-slide a{
    color: inherit;
}
.event_slide .swiper-slide a img{
    width: 100%;
    height: 100%;
}
.event_slide .swiper-slide .text{
    width: 45%;
    position: absolute;
    top: 5%;
    left: 2%;
}
.event_slide .swiper-slide .snb_title{
    font: 400 1rem/1.5rem 'Roboto', 'Noto Sans KR', sans-serif;
    color: #888;
}
.event_slide .swiper-slide .title{
    font: 400 1.2rem/2rem 'Roboto', 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
}
.event_slide .swiper-slide p:nth-child(3){
    margin-top: 10%;
    font: 400 1rem/2rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.event_slide .swiper-pagination-bullet{
    display: none;
}

.row1 .badge,
.row2 .badge{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font: 400 .9rem/40px 'Roboto', 'Noto Sans KR', sans-serif;
    text-align: center;
    text-transform: uppercase;
}


/* footer */
.cs p:nth-child(1){
    font: 400 1.2rem/3rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.cs p:nth-child(2),
.cs p:nth-child(3){
    font: 400 1.2rem/1.5rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.cs p:nth-child(4){
    margin-top: 5%;
    font: 100 1rem/1.5rem 'Roboto', 'Noto Sans KR', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.noti p:nth-child(1){
    font: 400 1.2rem/3rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.noti li{
    font: 100 1rem/2rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.benefit li p{
    font: 100 .8rem/1.5rem 'Roboto', 'Noto Sans KR', sans-serif;    
}
.support ul{
    width: 60%;
}
.support li a{
    font: 100 .9rem/1.5rem 'Roboto', 'Noto Sans KR', sans-serif;    
}
.info li{
    color: #eee;
    font: 100 .8rem/2rem 'Roboto', 'Noto Sans KR', sans-serif;        
}
.component .copy{
    font: 100 .9rem/2rem 'Roboto', 'Noto Sans KR', sans-serif;
}