body{font-size: 1vw;}
header{
    width: 100%;
    height: 80px;
    margin: auto;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
header .m_bar{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 100;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
}
.m_bar,
.m_bar span{
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.m_bar span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
}
.m_bar span:nth-of-type(1){
    top: 0;
}
.m_bar span:nth-of-type(2){
    top: 12.5px;
}
.m_bar span:nth-of-type(3){
    bottom: 0;
}
.m_bar.active-1 span:nth-of-type(1){
    -webkit-transform: translateY(12.5px) rotate(-45deg);
    transform: translateY(12.5px) rotate(-45deg);
}
.m_bar.active-1 span:nth-of-type(2){
    opacity: 0;
}
.m_bar.active-1 span:nth-of-type(3){
    -webkit-transform: translateY(-12.5px) rotate(45deg);
    transform: translateY(-12.5px) rotate(45deg);
}

header .title{display: none;}
header nav{
    border-bottom: 0px;
}
.m_nav{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #eee;
}
.m_nav .logo{
    position: absolute;
    width: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}
.m_nav .logo.move{
    position: absolute;
    left: 25%;
    transition: all .5s;
}
.m_nav nav{
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 50px;
    background-color: #fff;
    transform: translateX(100%);
    transition: all .5s;
}
.m_nav nav.on{
    transform: translateX(0%);
    transition: all .5s;
}
.m_nav nav ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.m_nav nav li{
    width: 100%;
    margin-top: 10px;
    font: bold 1rem/2rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.depth_02{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
nav li::before{
    content: '';
    display: none;
}
.m_nav nav li a:hover{
    font-weight: bolder;
    opacity: 0.7;
    transition: all .3s;
}
.m_nav .nav_right{
    width: 100%;
    top: 550px;
    display: flex;
    justify-content: space-between;
}
.m_nav .nav_right #search{
    width: 80%;
    background-color: none;
}
#search::-webkit-search-cancel-button{display: none;}
.nav_right .s_btn{
    display: none;
}
.nav_right .cart{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.m_nav .nav_right .cart img{
    width: 100%;
    object-fit: cover;
}
.m_nav .lnb{
    width: 100%;
    margin-top: 20px;
}
.m_nav .lnb li{
    width: 50%;
    margin-top: 0;
}
.m_nav .lnb a{
    font: 400 .7rem/3rem 'Roboto', 'Noto Sans KR', sans-serif;
}
/* 슬라이드 */
.slide{
    width: 100%;
    height:35vh;
    margin-top: 80px;
}
.slide .swiper-wrapper .swiper-slide{
    width: 100%;
    position: relative;
}
.slide .swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    color: initial;
}
.slide .swiper-wrapper a img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 60% 50%;
    margin: auto;
    margin-right: 0%;
    display: block;
}
.slide .swiper-wrapper .txt{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.slide .txt p:nth-child(1){
    font: 800 1.5rem/2.5rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.slide .txt p:nth-child(2){
    font: 100 1.5rem/3rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.slide .swiper-pagination-bullet{
    background-color: #fff;
    border: 1px solid #ddd;
}



.contents .row1{
    width: 100%;
    margin: 20px auto;
}
.row1 ul{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.row1 li{
    width: 45%;
    position: relative;
    margin-top: 5%;
}
.contents .row2{
    display: none;
}
.contents .sub_title{
    font: 100 3em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
    color: #ccc;
}
.contents .title{
    font: 400 4em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.contents .price{
    font: 400 3.5em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.row1 .badge{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    font: 400 3em/3em 'Roboto', 'Noto Sans KR', sans-serif;
    text-align: center;
    text-transform: uppercase;
}



/* 메인페이지 이벤트 */
main .event{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
}
.event .event_slide{
    width: 100%;
    margin-left: 0%;
    overflow:hidden;
}
.event_slide .swiper-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.event_slide .swiper-slide{
    width: 100%;
    height: 100%;
}
.event_slide .swiper-slide .text{
    width: 45%;
    position: absolute;
    top: 5%;
    left: 2%;
}
.event_slide .swiper-slide .sub_title{
    font: 400 1rem/1.5rem 'Roboto', 'Noto Sans KR', sans-serif;
    color: #888;
}
.event_slide .swiper-slide .title{
    font: 500 1.5rem/3rem 'Roboto', 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
}
.event_slide .swiper-slide p:nth-child(3){
    margin-top: 10%;
    font: 400 1rem/2rem 'Roboto', 'Noto Sans KR', sans-serif;
}
.event_slide .swiper-pagination-bullet{
    display: block;
    float: left;
    background-color: #fff;
    border: 1px solid #ddd;
}



main .aside{
    width: 100%;
}

.aside p:nth-child(1){
    padding-left: 5%;
    font: 400 5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.aside ul{
    width: 100%;
    flex-wrap: wrap;
    margin-top: -25%;
}
.aside ul::before{
    display: none;
}
.aside li{
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}
.aside li::before{
    content: '';
    display: block;
    padding-top: 25%;
}
.aside li:first-child{
    margin-right: 0%;
}
.aside li:last-child{
    margin-bottom: 0%;
}
.aside li p:first-child{
    font: 100 3.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;    
}
.aside a{
    width: 98%;
    font: 100 3.5em/3em 'Roboto', 'Noto Sans KR', sans-serif;    
}


footer{
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 30%;
}
footer .community{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
.community .cs{
    width: 100%;
}
.cs p:nth-child(1){
    font: 400 3.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.cs p:nth-child(2),
.cs p:nth-child(3){
    float: left;
    font: 400 4em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
    margin-right: 25%;
}
.cs p:nth-child(4){
    clear: both;
    font: 100 2em/5em 'Roboto', 'Noto Sans KR', sans-serif;
    margin-bottom: 5%;
}
.cs p:nth-child(4) span{
    display: block;
    width: 20%;
}
.cs p:nth-child(4) span:nth-child(3){
    margin-left: 12%;
}

.community .noti{
    display: none;
}

.community .benefit{
    width: 100%;
}
.benefit li{
    width: 25%;
    margin-bottom: 5%;
    text-align: center;
}

.support ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.support li:not(li:last-child)::before{
    content: '';
    position: absolute;
    top: 0px;
    right: -7px;
    width: 1px;
    height: 15px;
    background-color: #eee;
}
.support li:nth-child(1){
    width: 20%;
}
.support li:nth-child(2),
.support li:nth-child(3),
.support li:nth-child(5){
    width: 15%;
}
.support li:nth-child(4){
    width: 25%;
}

.info ul{
    width: 100%;
    margin-top: 3%;
}
.info li{
    color: #eee;
    font: 100 1em/5em 'Roboto', 'Noto Sans KR', sans-serif;        
}
.info a{
    color: #eee;
    font-weight: 400;
    margin-left: 5px;
}
.info span{
    margin-right: 1%;
}
.component .copy{
    width: 100%;
    margin: auto;
    font: 100 1.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
    margin-top: 5%;
    color: #eee;
}