.slide_wrap{
    margin-bottom: 20%;
}
.slide a img{
    width: 150%;
    margin: auto;
    margin-left: -35%;
    display: block;
}
.slide .txt{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.txt p:nth-child(1){
    font: 400 4em/1.2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.txt p:nth-child(2){
    font: 100 2.5em/1.2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.slide_wrap .control{
    bottom: -50%;
}


.contents .row1{
    width: 100%;
    margin: 20px auto;
}
.row1 ul{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.row1 li{
    width: 45%;
    position: relative;
    margin-top: 5%;
}
.contents .row2{
    display: none;
}
.contents .sub_title{
    font: 400 2.5em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
    color: #ccc;
}
.contents .title{
    font: 400 3em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.contents .price{
    font: 400 3em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.row1 .badge{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    font: 400 3em/3.5em 'Roboto', 'Noto Sans KR', sans-serif;
    text-align: center;
    text-transform: uppercase;
}



main .event{
    margin-bottom: 50%;
    margin-top: 5%;
    position: relative;
}
.event li{
    width: 100%;
    position: absolute;
}
.event img{
    width: 100%;
}
.event .text{
    width: 50%;
    position: absolute;
    top: 10%;
    left: 5%;
}
.event .sub_title{
    font: 400 3em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
    color: #888;
}
.event .title{
    font: 400 3.5em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.event p:nth-child(3){
    margin-top: 10%;
    font: 400 2.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}

main .aside{
    width: 100%;
}
.aside p:nth-child(1){
    padding-left: 5%;
    font: 400 5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.aside ul{
    width: 100%;
    flex-wrap: wrap;
    margin-top: 3%;
}
.aside li{
    width: 100%;
    margin-bottom: 3%;
}
.aside li:last-child{
    margin-bottom: 0%;
}
.aside li p:first-child{
    font: 100 3.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;    
}
.aside li:first-child{
    margin-right: 0;
}
.aside a{
    width: 98%;
    font: 100 3.5em/3em 'Roboto', 'Noto Sans KR', sans-serif;    
}


footer{
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 5%;
}
footer .community{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
.community .cs{
    width: 100%;
}
.cs p:nth-child(1){
    font: 400 5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.cs p:nth-child(2),
.cs p:nth-child(3){
    float: left;
    font: 400 8em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
    margin-right: 15%;
}
.cs p:nth-child(4){
    clear: both;
    font: 100 3em/2em 'Roboto', 'Noto Sans KR', sans-serif;
    margin-bottom: 5%;
}
.cs p:nth-child(4) span{
    display: block;
    width: 20%;
}
.cs p:nth-child(4) span:nth-child(3){
    margin-left: 13%;
}

.community .noti{
    display: none;
}

.community .benefit{
    width: 100%;
}
.benefit li{
    width: 25%;
    margin-bottom: 5%;
    text-align: center;
}

.support ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.support li:not(li:last-child)::before{
    content: '';
    position: absolute;
    top: 0px;
    right: -7px;
    width: 1px;
    height: 15px;
    background-color: #eee;
}
.support li:nth-child(1){
    width: 20%;
}
.support li:nth-child(2),
.support li:nth-child(3),
.support li:nth-child(5){
    width: 15%;
}
.support li:nth-child(4){
    width: 25%;
}

.info ul{
    width: 100%;
    margin-top: 3%;
}
.info li{
    color: #eee;
    font: 100 0.1em 'Roboto', 'Noto Sans KR', sans-serif;        
}
.info a{
    color: #eee;
    font-weight: 400;
    margin-left: 5px;
}
.info span{
    margin-right: 1%;
}
.component .copy{
    width: 100%;
    margin: auto;
    font: 100 1.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
    margin-top: 3%;
    color: #eee;
}
