.lnb a{
    font: 400 1.5em/2.5em 'Roboto', 'Noto Sans KR', sans-serif;
}

/* 메인페이지 */
.contents .sub_title{
    font: 400 1.5em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
    color: #ccc;
}
.contents .title{
    font: 400 2em/2em 'Roboto', 'Noto Sans KR', sans-serif;
    
}
.contents .price{
    font: 400 1.7em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.row1 .badge,
.row2 .badge{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    font: 400 1.7em/3em 'Roboto', 'Noto Sans KR', sans-serif;
    text-align: center;
    text-transform: uppercase;
}


.event .sub_title{
    font: 400 1.5em/1.5em 'Roboto', 'Noto Sans KR', sans-serif;
}
.event .title{
    font: 400 2.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}
.event p:nth-child(3){
    font: 400 1.5em/2em 'Roboto', 'Noto Sans KR', sans-serif;
}